/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --muted: #2b2a2a;
  --accent: #eceff4;
}

/* Ensure all text elements inherit the correct color */
[data-theme="dark"] {
  --background: #181818;
  --foreground: #ffffff;
  --muted: #b3b3b3;
  --accent: #333333;
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #000000;
  --muted: #2b2a2a;
  --accent: #eceff4;
}

/* Sider Navlinks light theme  */
[data-theme="light"] .ant-menu-item:hover {
  background-color: #2b2a2a !important;
  color: white !important;
}
[data-theme="light"] .ant-menu-title-content:hover {
  color: white !important;
}
[data-theme="light"] .ant-menu-title-content:active {
  color: white !important;
}
[data-theme="light"] .ant-menu-item-selected span {
  background-color: none !important;
  color: white !important;
}
[data-theme="dark"] .ant-menu-item-selected span {
  background-color: none !important;
  color: white !important;
}
.ant-menu-item:active {
  background-color: none !important;
  color: white !important;
}
.ant-menu-item:focus {
  background-color: none !important;
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  color: var(--foreground);
}

html {
  overflow-x: auto;
  overflow-y: hidden;
  /* Prevent vertical scrolling */
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: auto;
  overflow-y: hidden;
  /* Prevent vertical scrolling */
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}
